params {
    /****************************************
     Input
     ****************************************/

    INPUT_GENOME       = "/data2/tany/Drerio_LEMON/Data/zebrafish_rmmt.fa"
    INPUT_MASKEDGENOME = "/data2/tany/Drerio_LEMON/Data/zebrafish_rmmt2.fa.masked"
    INPUT_REPOUT       = "/data2/tany/Drerio_LEMON/Data/zebrafish_rmmt2.fa.out"
//    INPUT_RNASEQR1     = "/data2/tany/Drerio_LEMON/Data/merge_1.fastq"
//    INPUT_RNASEQR2     = "/data2/tany/Drerio_LEMON/Data/merge_2.fastq"
    INPUT_RNASEQR1     = "/data2/tany/tmp/aaaa_1.fastq"
    INPUT_RNASEQR2     = "/data2/tany/tmp/aaaa_2.fastq"
    
    /****************************************
     Output
     ****************************************/

    // --- Directory to publish results ---

    PDIR      = "/data2/tany/tmp3/devTest000"
    PDIR_PREP = "/data2/tany/tmp3/devTest000/Prep"

    /****************************************
     General
     ****************************************/
    
    // --- Scratch dirs ---
    SCRATCH     = "/scratch"
    
    // --- ---
    N_THREAD    = 19
//    N_THREAD    = 20
    
    // --- ---
    MAX_MEMORY  = "600G"
    
    // --- ---
    OPREFIX     = "lime"
    
    /****************************************
     RNA-Seq mapping based
     ****************************************/

    // ---  ---
    PDIR_PREP_MAPPING = "${PDIR}/Prep/mapping"

    // --- ---
    UTILPATH_MAPPING = "/data2/tany/dev4git/Lime_v2.4/util/mapping"
    
    // --- Tools for mapping ---
    PDIR_PREP_MAPPING_MAPPING = "${PDIR}/Prep/mapping/mapping"
    HISAT2      = "hisat2"
    HISAT2BUILD = "${HISAT2}-build"
    SAMTOOLS    = "samtools"
    STRINGTIE   = "stringtie"
    SEQKIT      = "/home/tany/bin/seqkit"
    
    // --- Tools for to_merge ---
    PDIR_PREP_MAPPING_MERGE = "${PDIR}/Prep/mapping/merge"
    TD_LONGORFS = "/home/tany/src/TransDecoder-master/TransDecoder.LongOrfs"
    TD_PREDICT  = "/home/tany/src/TransDecoder-master/TransDecoder.Predict"

    // --- Tools for to_learn_1st.sh ---
    PDIR_PREP_MAPPING_TOLEARN1ST = "${PDIR}/Prep/mapping/to_learn_1st"
    GFFREAD     = "/home/tany/src/gffread-master/gffread"
    CD_HIT      = "/home/tany/src/cdhit-master/cd-hit"

    // --- Tools for to_learn_2st.sh ---  
    PDIR_PREP_MAPPING_TOLEARN2ND = "${PDIR}/Prep/mapping/to_learn_2nd"

    // --- Tools for to_merge ---
    MIN0        = 90 // MINはtranscriptの最小base長

    MIN1        = 300 // MINはtranscriptの最小base長

    /****************************************
     RNA-Seq denovo based
     ****************************************/

    // ---  ---
    PDIR_PREP_DENOVO = "${PDIR}/Prep/denovo"

    // --- ---
    UTILPATH_DENOVO = "/data2/tany/dev4git/Lime_v2.4/util/denovo"

    // --- Tools for trinity ---
    PDIR_PREP_DENOVO_TRINITY = "${PDIR}/Prep/denovo/trinity"
    OPREFIX_TRINITY = "trinityLemon"
    SRA_FLAG        = 1
    
    // --- Tools for oases ---
    PDIR_PREP_DENOVO_OASES = "${PDIR}/Prep/denovo/oases"

    // --- Tools for denovo ---
    DENOVO_PYTHON   = "python"
    VELVETH         = "/data1/LEMON/bin/velveth"
    VELVETG         = "/data1/LEMON/bin/velvetg"
    OASES           = "/data1/LEMON/bin/oases"
    TRINITY         = "/data1/LEMON/bin/Trinity"
    GMAP_BUILD      = "/home/tany/bin/gmap_build"
    GMAP            = "/home/tany/bin/gmap"
    CD_HIT_EST      = "/home/tany/src/cdhit-master/cd-hit-est"

    /****************************************
     Homology based
     ****************************************/

    // ---  ---
    PDIR_PREP_HOMOLOGY = "${PDIR}/Prep/homology"

    // --- Tools for homology ---
    PDIR_PREP_HOMOLOGY_HOMOLOGY = "${PDIR}/Prep/homology/homology"
    UTILPATH_HOMOLOGY = "/data2/tany/dev4git/Lime_v2.4/util/homology"
    SPALN             = "/data1/LEMON/tools/spaln2.3.3f/bin/spaln"
    MAKEIDX           = "/data1/LEMON/tools/spaln2.3.3f/perl/makeidx.pl"
    MAKBLK            = "/data1/LEMON/tools/spaln2.3.3f/perl/makblk.pl"
        
    HOMOLOGY_DATA = [
        "PREFIX"  : ["Koi",    // No.1
                     "Human",  // No.2
                     "Medaka"],// No.3
        "PROTEIN" : ["/data2/tany/Drerio_LEMON/Data/koi.faa",    // No.1
                     "/data2/tany/Drerio_LEMON/Data/human.faa",  // No.2
                     "/data2/tany/Drerio_LEMON/Data/medaka.faa"],// No.3
        "SPALNDB" : ["Fish_mdl",// No.1
                     "Fish_mdl",// No.2
                     "Fish_mdl"]// No.3
    ]

    // --- Tools for homology_merge ---
    PDIR_PREP_HOMOLOGY_HOMOLOGYMERGE = "${PDIR}/Prep/homology/homology_merge"

    // --- Tools for homology_filter ---
    PDIR_PREP_HOMOLOGY_HOMOLOGYFILTER = "${PDIR}/Prep/homology/homology_filter"
//    SEQKIT            = "seqkit"

    /****************************************
     Ab initio based
     ****************************************/

    // ---  ---
    PDIR_PREP_ABINITIO = "${PDIR}/Prep/abinitio"

    // --- ---
    UTILPATH_ABINITIO = "/data2/tany/dev4git/Lime_v2.4/util/abinitio"

    // --- Tools for Augustus_DS_ver5_lemon ---
    PDIR_PREP_ABINITIO_AUGUSTUS = "${PDIR}/Prep/abinitio/augusutus"

    AUGUSTUS_DIR           = "/data2/tany/LEMON_dev/lemon/tools/augustus-3.3.2"
    AUGUSTUS               = "${AUGUSTUS_DIR}/bin/augustus"
    ETRAINING              = "${AUGUSTUS_DIR}/bin/etraining"
    AUGUSTUS_SCRIPT_DIR    = "${AUGUSTUS_DIR}/scripts"
    AUGUSTUS_CONFIG_DIR    = "${AUGUSTUS_DIR}/config"
    AUGUSTUS_SPEC_DIR      = "${AUGUSTUS_DIR}/config/species"
    AUGUSTUS_SPEC          = "lemon20211117" // lemon0, lemon1, lemon2,,,,
    // パラメータのディレクトリ(${params.AUGUSTUS_SPEC_PATH}/speciesの下に同じ名前が無いように気をつける) 
//    AUGUSTUS_DICT_PREFIX   = "Abinitio_predict" // Abinitio_predict0, Abinitio_predict1, Abinitio_predict2,,,,
    AUGUSTUS_TRAINING_DATA = "/data2/tany/tmp3/devTest000/Prep/mapping/to_learn_2nd/lemon_learn_2nd.gff3" // gff
    AUGUSTUS_TRAINING_SIZE = 1000 // `echo 1000`
    
    // --- Tools for snap_DS_ver9_lemon ---
    PDIR_PREP_ABINITIO_SNAP = "${PDIR}/Prep/abinitio/snap"
    SNAP_DIR                = "/home/tany/src/SNAP-master" // a path to SNAP
    FATHOM                  = "${SNAP_DIR}/fathom"
    FORGE                   = "${SNAP_DIR}/forge"
    SNAP                    = "${SNAP_DIR}/snap"
    
    SNAP_TRAINING_DATA  = "/data2/tany/tmp3/devTest000/Prep/mapping/to_learn_2nd/lemon_learn_2nd.gff3" // gff_p
    SNAP_SPECIES        = "${OPREFIX}" // species
    SNAP_TRAINING_SIZE  = AUGUSTUS_TRAINING_SIZE

    MAKER2ZFF               = "/home/tany/src/maker/src/bin/maker2zff"
    
    /****************************************
     Merge phase; step1
     ****************************************/
    MAPPING_WEIGHT  = 1.6
    DENOVO_WEIGHT   = 1.4
    HOMOLOGY_WEIGHT = 2.0
    AUGUSTUS_WEIGHT = 1.8
    SNAP_WEIGHT     = 1.2

}
